@using MVC5OnlineTicariOtamasyon.Models.Siniflar
@model List<Cari>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Mevcut Müşteri Bilgisi</h3>

                
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Müşteri Ad Soyad</th>
                            <th>Telefon</th>
                            <th>Şehir</th>
                            <th>Mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td>@x.CariID</td>
                                <td>@x.CariAd @x.CariSoyad</td>
                                <td>@x.CariTel</td>
                                <td>@x.CariSehir</td>
                                <td>@x.CariMail</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>