@using MVC5OnlineTicariOtamasyon.Models.Siniflar
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Urun>
@*@model List<Urun>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin: 10px 10px 10px 10px">

    @*@using (Html.BeginForm("Index", "Urun", FormMethod.Get))
    {
        <p>
            Ürün Adı: @Html.TextBox("p")
            <input type="submit"  value="Ara..." />
        </p>
    }*@

    <table class="table table-bordered">
        <tr>
            <th>Urun Adı:</th>
            <th>Marka</th>
            <th>Stok</th>
            <th>Alış Fiyat</th>
            <th>Satış Fiyat</th>
            <th>Kategori</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Satış Yap</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.UrunAd</td>
                <td>@x.Marka</td>
                <td>@x.Stok</td>
                <td>@x.AlisFiyat ₺</td>
                <td>@x.SatisFiyat ₺</td>
                <td>@x.Kategori.KategoriAd</td>
                <td><a href="/Urun/UruniSil/@x.UrunID" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Urun/UrunGetir/@x.UrunID" class="btn btn-outline-warning">Güncelle</a></td>
                <td><a href="/Urun/SatisYap/@x.UrunID" class="btn btn-light">Satış Yap</a></td>
            </tr>
        }
    </table>
</div>
<div style="margin-left:15px;">
    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
</div>
<div>
    <a href="/Urun/UrunEkle/" class="btn btn-outline-success" style="margin-left:10px;">Urun Ekle</a>
</div>