@using MVC5OnlineTicariOtamasyon.Models.Siniflar
@model List<SatisHareket> 
@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin:10px 10px 10px 10px;">
    <h4> Satış Detay</h4>
    <br />

    <table class="table table-dark">
        <tr>
            @*<th>Satış ID</th>*@
            <th>Ürün</th>
            <th>Cari</th>
            <th>Personel</th>
            <th>Fiyat</th>
            <th>Adet</th>
            <th>Toplam</th>
            <th>Tarih</th>
            @*<th>Yazdır</th>*@
        </tr>
        @foreach (var g in Model)
        {
            <tr>
                @*<td>@g.SatisID</td>*@
                <td>@g.Urun.UrunAd</td>
                <td>@g.Cari.CariAd @g.Cari.CariSoyad</td>
                <td>@g.Personel.PersonelAd @g.Personel.PersonelSoyad</td>
                <td>@g.Fiyat</td>
                <td>@g.Adet</td>
                <td>@g.Toplam</td>
                <td>@Convert.ToDateTime(g.Tarih).ToString("dd/MM/yyyy")</td>
                @*<td><a href="#" class="btn" style="background-color:lawngreen">Yazdır</a></td>*@
            </tr>
        }

    </table>
    <button class="btn" style="background-color:lawngreen">Yazdır</button>
</div>


